.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar .close-btn {
    padding: 10px 15px;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 40px;
    display: block;
    transition: 0.1s;
  }

  .open-btn {
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    top: 18px;
    left: 10px;
    z-index: 1000;
  }

  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  #terminal {
    width: 600px;
    height: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto;
    font-family: monospace;
    background-color: black;
    color: white;
}
#input {
    width: 100%;
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: monospace;
    outline: none;
}

.slider {
  width: 40%;
}